{% extends 'base.html' %}
{% load static %}

{% block title %} | {{movie.title}} {%endblock %}

{% block content %}

    <div class="col-12">
      <div class="row">
        <h2 style="padding-top: 20px;">{{movie.title}}</h2>
      </div>
    </div>

    <hr />

    <video
      id="my-video"
      class="video-js vjs-default-skin vjs-fluid vjs-big-play-centered"
      controls
      preload="auto"
      width="640"
      height="264"
      poster="{{ MEDIA_URL }}{{ movie.poster }}"
      data-setup="{'fluid': true}"
    >
      <source src="{{ MEDIA_URL }}{{ movie.video }}" type="video/mp4"></source>
      {% for subtitle in movie.subtitles.all %}
        <track label="{{subtitle.language}}" kind="subtitles" srclang="{{subtitle.language}}" src="{{ MEDIA_URL }}{{ subtitle.text }}" default>
      {% endfor %}
  </video>

  <br />

  <p>{{movie.description}}</p>

{% endblock %}