{% extends 'base.html' %}
{% load static %}

{% block title %} | {{movie.title}} {%endblock %}

{% block content %}

    <h2>{{video.title}}</h2>

    <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    poster="MY_VIDEO_POSTER.jpg"
    data-setup="{}"
  >
    <source src="{{MEDIA_URL}}{{movie.media}}" type="video/mp4"></source>
    {% for subtitle in movie.subtitles.all %}
      <track label="{{subtitle.language}}" kind="subtitles" srclang="{{subtitle.language}}" src="{{MEDIA_URL}}{{subtitle.text}}" default>
    {% endfor %}
  </video>


{% endblock %}